{% extends "base.html" %}

{% block title %}Activities - Nicholas Kosinski{% endblock %}

{% block content %}
<main>
    <h1 class="page-title">Activities</h1>
    <p class="page-subtitle">What I do when I'm not working.</p>

    <div class="featured-links">
        <a href="https://www.strava.com/athletes/120464653" target="_blank" class="featured-card">
            <svg class="featured-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.387 17.944l-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599l2.836 5.598h4.172L10.463 0l-7 13.828h4.169" fill="#FC4C02"/>
            </svg>
            <div>
                <div class="featured-title">Strava</div>
                <div class="featured-desc">Runs, rides, and everything outside</div>
            </div>
            <span class="featured-arrow">&rarr;</span>
        </a>
    </div>
</main>
{% endblock %}
