{% extends "base.html" %}

{% block title %}Press - Nicholas Kosinski{% endblock %}

{% block content %}
<main>
    <h1 class="page-title">My Work</h1>

    <div class="featured-links">
        <a href="https://www.youtube.com/@nicholaskosinski9870/videos" target="_blank" class="featured-card">
            <svg class="featured-svg" viewBox="0 0 28 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.4 3.1c-.3-1.2-1.2-2.1-2.4-2.4C22.8 0 14 0 14 0S5.2 0 3 .7C1.8 1 .9 1.9.6 3.1 0 5.3 0 10 0 10s0 4.7.6 6.9c.3 1.2 1.2 2.1 2.4 2.4C5.2 20 14 20 14 20s8.8 0 11-.7c1.2-.3 2.1-1.2 2.4-2.4.6-2.2.6-6.9.6-6.9s0-4.7-.6-6.9z" fill="#FF0000"/>
                <path d="M11.2 14.3L18.4 10l-7.2-4.3v8.6z" fill="#fff"/>
            </svg>
            <div>
                <div class="featured-title">YouTube Channel</div>
                <div class="featured-desc">Things I've built</div>
            </div>
            <span class="featured-arrow">&rarr;</span>
        </a>
        <a href="https://github.com/nko614" target="_blank" class="featured-card">
            <svg class="featured-svg" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0024 12c0-6.63-5.37-12-12-12z" fill="#ffffff"/>
            </svg>
            <div>
                <div class="featured-title">GitHub</div>
                <div class="featured-desc">Code and projects</div>
            </div>
            <span class="featured-arrow">&rarr;</span>
        </a>
    </div>

    <div class="press-list">
        {% for item in press_items %}
        <a href="{{ item.url }}" target="_blank" class="press-item{% if item.highlight %} press-highlight{% endif %}">
            <div class="press-source">{{ item.source }}</div>
            <div class="press-title">{{ item.title }}</div>
            <div class="press-date">{{ item.date }}</div>
        </a>
        {% endfor %}
    </div>
</main>
{% endblock %}
